*{margin: 0;}
header, main, footer{width: 100vw;}

header{
    background: #ff8737;
    height: 70px;
    padding: 6px 32px;
}

#img{
    height: 70px;
}

main{
    background: #f3ebeb;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}


#aside{
   background: #1aedf5;
   width: 70vw;
   height: 70vh;
}

#sidebar{
    background: #008cff;
    width: 30vw;
    height: 70vh;
}

.item{
    color: #000000;
    padding: 20px;
    flex:1 0 200px;
}

footer{
    background: #36b947;
    height: 70x;
    padding: 6px 32px;

}

#link{
    margin: 24px;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
}
#link:hover{
    color: #186b26;
    
}